@import "~bootstrap/scss/bootstrap";

$navAndFooterColor: #4C1A2F;
$title : #D7BCE8;

body {
    background-color: #FDE2FF;
}

div.container-fluid {
    background-color: $navAndFooterColor;
    color: #FDE2FF;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}